<p-table [value]="bookings!" [formGroup]="form">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="arrivalDate">Arrival Date<p-sortIcon field="arrivalDate"></p-sortIcon></th>
      <th pSortableColumn="departureDate">Departure Date<p-sortIcon field="departureDate"></p-sortIcon></th>
      <th pSortableColumn="rooms">Rooms<p-sortIcon field="rooms"></p-sortIcon></th>
      <th pSortableColumn="inCharge.firstName">In Charge<p-sortIcon field="inCharge.firstName"></p-sortIcon></th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-booking>
    <tr class="bookingRecord">
      <td>
        {{ booking.arrivalDate | date: 'MMM d, y' }}
      </td>
      <td>
        {{ booking.departureDate | date: 'MMM d, y' }}
      </td>
      <td>
        {{ booking.roomsNums }}
      </td>
      <td pEditableColumn class="{{ booking.arrivalDate }}">
        <div *ngIf="!editable">{{ booking.inCharge?.firstName }} {{ booking.inCharge?.lastName }}</div>
        <p-cellEditor *ngIf="editable">
          <ng-template pTemplate="input">
            <p-dropdown
              *ngIf="maidStaff"
              [options]="maidStaff"
              optionLabel="lastName"
              placeholder="Select maid"
              (keydown.enter)="updateCharged(booking)"
              [(ngModel)]="booking.inCharge"
              formControlName="inCharge"
            ></p-dropdown>
          </ng-template>
          <ng-template pTemplate="output">
            {{ booking.inCharge?.firstName }} {{ booking.inCharge?.lastName }}
          </ng-template>
        </p-cellEditor>
      </td>
    </tr>
  </ng-template>
</p-table>
