<div *ngIf="!showBookingForm && !showGuestProfile">
  <h2>Enter your name:</h2>

  <form [formGroup]="form" id="form">
    <input pInputText formControlName="firstName" placeholder="First Name" class="m-2" />
    <input pInputText formControlName="lastName" placeholder="Last Name" class="m-2" />
    <button pButton pRipple type="submit" (click)="submit()" class="p-button-raised p-button-success p-button-text m-2">
      Submit
    </button>
  </form>
</div>

<div *ngIf="showGuestProfile">
  <app-guest-profile></app-guest-profile>
</div>
